body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Define my variables */
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;

  --bp-large: 1000px;
  --bp-medium: 768px;

  background: var(--gray-900);
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  background: var(--gray-900);
}

.link {
  color: #fff;
}

.appLayout {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-gap: 1em;
  .panel__user {
    justify-self: end;
  }
  .panel__trends {
    justify-self: start;
  }
  .panel__content {
    /* this is for content within a panel */
    padding: 0.75em;
    height: 100vh;
    position: sticky;
    top: 0px;
  }
}

.nav__main {
  height: 100%;
  padding-top: 0.83em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  ul li {
    font-size: 1.25em;
    font-weight: bold;
  }
  ul li a {
    display: block;
    padding: 0.75em 1em;
    border-radius: 2em;
    color: var(--gray-100);
    text-decoration: none;
    &:hover {
      background: var(--gray-800);
    }
  }
  &:last-child {
    align-self: end;
  }
}

.sticky {
}

.feed {
  width: 600px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  .title {
    h2 {
      color: var(--gray-100);
      font-size: 1.25em;
    }
    padding: 0px 1em;
    background: var(--gray-800);
    position: sticky;
    top: 0px;
    border-bottom: 1px solid var(--gray-900);
  }
  .new_waddle {
    background: var(--gray-800);
    padding: 1em;
    textarea {
      width: 100%;
      outline: none;
      background: var(--gray-800);
      border: none;
      font-size: 1.2em;
      caret-color: var(--gray-100);
      color: var(--gray-100);
      font-family: sans-serif;
    }
    border-bottom: 1px solid var(--gray-900);
  }
  .unauth_waddle {
    background: var(--gray-800);
    padding: 1em;
    border-bottom: 1px solid var(--gray-900);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    color: var(--gray-100);
  }
  .waddles {
    background: var(--gray-800);
    width: 100%;
    min-height: calc(100vh - 189px);
    &.empty {
      display: grid;
      place-items: center;
    }
  }
}

.waddle {
  padding: 1em;
  color: var(--gray-100);
  display: grid;
  grid-template-columns: 48px auto;
  grid-gap: 1em;
  .waddle__pic {
    img {
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
  }
  .waddle__user {
    margin: 0px;
    font-weight: bold;
    a {
      color: var(--gray-100);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .waddle__text {
    margin: 0.5em 0px;
  }
  .waddle__date {
    display: block;
    margin: 0.75em 0px;
    color: var(--gray-400);
    font-size: 0.9em;
    text-transform: uppercase;
  }
}

.panel__user {
  max-width: 400px;
  border-radius: 0.25em;
  /* background: var(--gray-800); */
  color: var(--gray-100);
  details {
    padding: 0.75em 0px;
    cursor: pointer;
    border-radius: 0.25em;
    &:hover {
      background: var(--gray-900);
    }
    &:focus,
    &:focus-within {
      bacground: var(--gray-900);
    }
    &[open] {
      background: var(--gray-900);
    }
  }
  summary:focus {
    outline: none;
    bacground: var(--gray-900);
  }
  .username {
    font-weight: bold;
    font-size: 1.2em;
  }
}

.authForm {
  padding: 0px 0.75em;
  form {
    display: flex;
    flex-direction: column;
  }
  .authForm__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.75em 0px 0px 0px;
  }
  input {
    width: 100%;
  }
  input[type='submit'] {
    margin: 0.75em 0px 0px 0px;
  }
}

.userPage {
  color: var(--gray-100);
  .user__profile {
    padding: 1em;
    border-bottom: 1px solid var(--gray-900);
    img {
      width: 86px;
      height: 86px;
      border-radius: 100%;
    }
    .user__profile--stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  section {
    background: var(--gray-800);
  }
}

.user__profile--actions {
  padding: 1em;
  border-bottom: 1px solid var(--gray-900);
}

@media screen and (max-width: 1000px) {
  .appLayout {
    grid-template-columns: auto 1fr;
    .panel__user {
      justify-self: start;
    }
    .panel__trends {
      display: hidden;
    }
    .panel__content {
      /* this is for content within a panel */
    }
  }

  .nav__main {
    ul {
    }
    ul li {
    }
    ul li a {
    }
    &:last-child {
    }
  }

  .feed {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .appLayout {
    grid-template-columns: 1fr;
    .panel__user {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      max-width: none;
      background: var(--gray-900);
    }
    .panel__content {
      height: auto;
    }
  }

  .nav__main {
    ul {
      display: flex;
      flex-direction: row;
    }
    ul li a {
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}
